<div *ngIf="!loading; else unloadded">
  <div class="grid grid-cols-6 gap-x-3">
    <div class="col-span-2">
      <input placeholder="filter by title" [(ngModel)]="searchParams" class="input input-accent w-full" />
    </div>
    <ul *ngIf="todosService.todos.length; else noTodos" class="menu bg-base-100 p-2 rounded-box w-full col-span-4" >
      <li *ngFor="let todo of todosService.todos | todosFilter:searchParams; let i = index" (click)="onChange(todo.id)">
        <div class="min-w-full flex items-center justify-between">
          <span class="flex items-center gap-x-2" [class.line-through]="todo.completed">
            <input type="checkbox" [class.done]="todo.completed"  [checked]="todo.completed" class="checkbox" />
            <strong> {{i + 1}}. </strong>
            {{todo.title}}
          </span>
    
          <div class="space-x-2">
            <span> {{todo.date | date:'medium'}} </span>
            <button (click)="removeTodo(todo.id)" *ngIf="todosService.todos === (todosService.todos | todosFilter:searchParams)" class="btn btn-error">&times;</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #unloadded>
  <div class="flex flex-col w-full">
    <div class="grid h-20 card bg-base-300 rounded-box place-items-center">loading...</div> 
  </div>
</ng-template>

<ng-template #noTodos>
  <div class="alert alert-error shadow-lg">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>No have todos.</span>
    </div>
  </div>
</ng-template>